{% extends "Projecteam/base.html" %}
{% block content %}
<style>
    .newsletter-subscribe{color:#313437;background-color:#fff;padding:50px 0}
.newsletter-subscribe h2{font-size:24px;font-weight:700;margin-bottom:25px;line-height:1.5;padding-top:0;margin-top:0;color:inherit}
</style>

<div class="newsletter-subscribe">
        <div class="container">
            <!-- Start: Intro -->
            <div class="intro">
                <h1 class="text-center">{{ details.name }}</h1>
                <h1 class="text-center">{{ details.title }}</h1>
                <h4 class="text-center"><i class="fa fa-user"></i> {{ details.leader }}</h4>
                <h4 class="text-center"><i class="fas fa-users"></i> {{ members }}</h4>
            </div>
            <!-- End: Intro -->

        </div>
    </div>


<center>
<div class="card" style="width: 18rem;">
  <div class="card-header">
    Files
  </div>
  <ul class="list-group list-group-flush">
      {% for i,j in files %}

      {% if j.file %}
    <li class="list-group-item" >
        <a href="{{ j.file.url }}" > {{ i }} </a>
    {% if lead %}
      <a href="{% url 'team:del' details.name  %}" class="btn btn-danger" style="height:30px;margin-left:50px;padding-top:2px;">delete</a>
      {% endif %}
    </li>

      {% endif %}

  {% endfor %}
  </ul>
</div>
    {% if mem %}
    <p>
  <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
    upload
  </button>
</p>
    {% endif %}
    </center>
<div class="collapse" id="collapseExample">
  <div class="card card-body">
<form    action="{% url 'team:upload'  details.name %}" method="post" enctype="multipart/form-data"> {% csrf_token %}
                    <input id="id_file" name="file" type="file"  placeholder="Search Here..." />
    <input type="submit" class="btn btn-warning"/>
</form>

  </div>
</div>
{% load comment_tags %}  {# Loading the template tag #}

{% render_comments details request %}  {# Include comments belonging to a certain object #}
{% include_static %}
{% endblock %}