{% extends "blog/gbase.html" %}
{% block content %}
{% for i,j in page_obj %}
    <div class="card-group" style="padding: 0px;">

        <div class="card" style="margin: 8px;">
            <div class="card-body">

                <p class="card-text" style="font-size: 40px;"><strong><em>{{ i.respo }}</em></strong>&nbsp;</p>
                <p style="font-size: 23px;"><strong>Team {{ i.profile.user.username }}</strong></p>
                <button class="btn btn-primary"  type="button" onclick="location.href='{% url 'gitdetails' i.rpid %}'">View</button>

                </div>
                </div>

        {% if j %}
           <div class="card" style="margin: 8px;">
            <div class="card-body">

                <p class="card-text" style="font-size: 40px;"><strong><em>{{ j.respo }}</em></strong>&nbsp;</p>
                <p style="font-size: 23px;"><strong>Team {{ j.profile.user.username }}</strong></p>
                <button class="btn btn-primary"  type="button" onclick="location.href='{% url 'gitdetails' j.rpid %}'">View</button>


                </div>
       </div>
       {% endif %}


    </div>
    {% endfor %}
{% if qu %}
{% if page_obj %}

      {% if page_obj.has_previous %}
        <a class="btn btn-outline-info mb-4" href="?q={{ q }}&page=1">First</a>
        <a class="btn btn-outline-info mb-4" href="?q={{ q }}&page={{ page_obj.previous_page_number }}">Previous</a>
      {% endif %}

      {% for num in page_obj.paginator.page_range %}
        {% if page_obj.number == num %}
          <a class="btn btn-info mb-4" href="?q={{ q }}&page={{ num }}">{{ num }}</a>
        {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
          <a class="btn btn-outline-info mb-4" href="?q={{ q }}&page={{ num }}">{{ num }}</a>
        {% endif %}
      {% endfor %}

      {% if page_obj.has_next %}
        <a class="btn btn-outline-info mb-4" href="?q={{ q }}&page={{ page_obj.next_page_number }}">Next</a>
        <a class="btn btn-outline-info mb-4" href="?q={{ q }}&page={{ page_obj.paginator.num_pages }}">Last</a>
      {% endif %}

    {% endif %}
{% else %}
{% if page_obj %}

      {% if page_obj.has_previous %}
        <a class="btn btn-outline-info mb-4" href="?page=1">First</a>
        <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.previous_page_number }}">Previous</a>
      {% endif %}

      {% for num in page_obj.paginator.page_range %}
        {% if page_obj.number == num %}
          <a class="btn btn-info mb-4" href="?page={{ num }}">{{ num }}</a>
        {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
          <a class="btn btn-outline-info mb-4" href="?page={{ num }}">{{ num }}</a>
        {% endif %}
      {% endfor %}

      {% if page_obj.has_next %}
        <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.next_page_number }}">Next</a>
        <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.paginator.num_pages }}">Last</a>
      {% endif %}

    {% endif %}

{% endif %}
{% endblock %}